<h1>Instagram</h1>
<h2><%= @user.name %></h2>

<% if !@user.posts.empty? %>
<% @user.posts.reverse.each do |post| %>
<p><%= image_tag(post.image.url, alt: 'Image') if post.image? %></p>
<p><%= post.caption %></p>
<p>  <%= post.created_at %> </p> 
<p>  Likes: <%= post.likes.count %> </p>
<%= link_to "Comment", new_comment_url(post_id: post.id, user_id: @user.id) %>
<%= link_to "Like", new_like_url(post_id: post.id, user_id: @user.id) %>
<p>  <% post.comments.each do |comment| %> </p>
<p>  <%= comment.comment %> </p>
<% end %>
<% end %>
<% end %>


<br><%= link_to "New post", new_post_url(:user_id => @user.id) %>
